<%= form_for(@league) do |f| %>
  <% if @league.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@league.errors.count, "error") %> prohibited this league from being saved:</h2>

      <ul>
      <% @league.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :position %><br>
    <%= f.number_field :position %>
  </div>
  <div class="field">
    <%= f.label :played %><br>
    <%= f.number_field :played %>
  </div>
  <div class="field">
    <%= f.label :win %><br>
    <%= f.number_field :win %>
  </div>
  <div class="field">
    <%= f.label :drawn %><br>
    <%= f.number_field :drawn %>
  </div>
  <div class="field">
    <%= f.label :lost %><br>
    <%= f.number_field :lost %>
  </div>
  <div class="field">
    <%= f.label :against %><br>
    <%= f.number_field :against %>
  </div>
  <div class="field">
    <%= f.label :goal_difference %><br>
    <%= f.number_field :goal_difference %>
  </div>
  <div class="field">
    <%= f.label :points %><br>
    <%= f.number_field :points %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
