	<div class="row">
		<div class="span1">
		</div>
		<div class="span2">
			<h4><%= link_to 'Resultat', bets_path %></h4>
			<h4><%= link_to 'Tabell', leagues_path %></h4>
			<h4><%= link_to 'Resultat 2016', bets_path(:season => "2016") %></h4>
			<h4><%= link_to 'Tabell 2016', leagues_path(:season => "2016") %></h4>
			<h4><%= link_to 'Resultat 2014', bets_path(:season => "2014") %></h4>
			<h4><%= link_to 'Tabell 2014', leagues_path(:season => "2014") %></h4>
		</div>
		<div class="span6 well lead">
			<table class="table table-condensed table-hover">
				<thead>
					<tr>
						<th></th>
						<th align="left">Lag</th>
						<th>P</th>
						<th>W</th>
						<th>D</th>
						<th>L</th>
						<th>F</th>
						<th>A</th>
						<th>GD</th>
						<th>Pts</th>
					</tr>
				</thead>
				<tbody>					
    		<% @leagues.each do |league| %>
					<tr>
						<td><%= league.position %></td>
					 	<td><%= league.name %></td>
						<td><%= league.played %></td>
						<td><%= league.win %></td>
						<td><%= league.drawn %></td>
						<td><%= league.lost %></td>
						<td><%= league.for %></td>
						<td><%= league.against %></td>
						<td><%= league.goal_difference %></td>
						<td><%= league.points %></td>
					</tr>
    		<% end %>
				</tbody>
			</table>
		</div>
	</div>
<br>
