	<div class="row">
		<p class="text-center"><strong><%= @season %></strong></p>

		<div class="span6 well lead">
			<table class="table table-condensed table-hover">
				<thead>
					<tr>
						<th></th>
						<th align="left">Lag</th>
						<th>P</th>
						<th>W</th>
						<th>D</th>
						<th>L</th>
						<th>F</th>
						<th>A</th>
						<th>GD</th>
						<th>Pts</th>
					</tr>
				</thead>
				<tbody>					
    		<% @leagues.each do |league| %>
					<tr>
						<td><%= league.position %></td>
					 	<td><%= league.name %></td>
						<td><%= league.played %></td>
						<td><%= league.win %></td>
						<td><%= league.drawn %></td>
						<td><%= league.lost %></td>
						<td><%= league.for %></td>
						<td><%= league.against %></td>
						<td><%= league.goal_difference %></td>
						<td><%= league.points %></td>
					</tr>
    		<% end %>
				</tbody>
			</table>
		</div>
	</div>
<br>
