<%= form_for(@bet) do |f| %>
  <% if @bet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bet.errors.count, "error") %> prohibited this bet from being saved:</h2>

      <ul>
      <% @bet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
	<%= collection_select(:bet, :user_id, User.order('name ASC').all, :id, :name, {:class => 'selectpicker', :include_blank => '-- Velg bruker --'}) %>
  </div>
  <div class="field">
	<%= f.label :league_id %><br>
	<%= collection_select(:bet, :league_id, League.order('name ASC').all, :id, :name, {:class => 'selectpicker', :include_blank => '-- Velg lag --'}) %>  

  </div>
  <div class="field">
    <%= f.label :position %><br>
    <%= f.number_field :position %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
