	<table class="table table-condensed">
		<thead>
			<tr><th>Navn</th><th>Poeng</th></thr>
		</thead>
		<% @users.each do |user| %>
		<tbody>
			<tr><td><%= user.name %></td><td><%= user.points %></td></tr>
		</tbody>
		<% end %>
	</table>

	<% @users.each do |user| %>
	
	
	<table class="table table-condensed">
		<thead>
			<tr>
				<th align="left" colspan=3><%= user.name %></th>
			</tr>
		</thead>
	<tbody>
    <% user.bets.each do |bet| %>
      <tr>
		<td><%= bet.position %>.</td>
        <td><%= bet.league.name %></td>
		<td><%= bet.points %></td>
      </tr>
    <% end %>
	<tr>
		<th>Sum</th>
		<th>&nbsp;</th>
		<th><%= user.points %></th>
	</tr>
	</tbody>
	</table>
	<% end %>

<br>

<%= link_to 'New Bet', new_bet_path %>
