	<div class="row">
		<div class="span3">
		</div>
		<div class="span6 well lead">
			<table class="table table-condensed table-hover">
				<thead>
					<tr><th>Navn</th><th>&nbsp;</th><th>Poeng</th></thr>
				</thead>
				<% @users.each do |user| %>
					<tbody>
						<tr>
							<td class="lead"><%= user.name %></td>
							<td>&nbsp;</td>
							<td class="lead"><%= user.points %></td>
						</tr>
					</tbody>
				<% end %>
			</table>
		</div>
	</div>

	<% @users.each do |user| %>
	
	<div class="row">
		<div class="span3">
		</div>
		<div class="span6 well lead">
			<table class="table table-condensed table-hover">
				<thead>
					<tr>
						<th align="left" colspan=3><%= user.name %></th>
					</tr>
				</thead>
				<tbody>
				<% user.bets.each do |bet| %>
					<tr>
						<td class="lead"><%= bet.position %>.</td>
						<td class="lead"><%= bet.league.name %></td>
						<td class="lead"><%= bet.points %></td>
					</tr>
				<% end %>
					<tr>
						<th class="lead">Sum</th>
						<th class="lead">&nbsp;</th>
						<th class="lead"><%= user.points %></th>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
		<% end %>

<br>

<%= link_to 'New Bet', new_bet_path %>
