<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @bet.user.name %>
</p>

<p>
  <strong>League:</strong>
  <%= @bet.league.name %>
</p>

<p>
  <strong>Position:</strong>
  <%= @bet.position %>
</p>

<p>
    <strong>Season:</strong>
    <%= @bet.seasonstartyear %>
</p>

<%= link_to 'Edit', edit_bet_path(@bet) %> |
<%= link_to 'Back', bets_path %> |
<%= link_to 'New', new_bet_path %>
